/*Global Colors*/

:root {
    --main-bg-color-light:#E8E8E8;
    --main-bg-color-dark:#ffffff1a;

    --color-edit:#d8c112;
    --color-cancel:#d46f44;
    --color-delete:#d46f44;
    --color-confirm:#29c947;
    --color-play:#246bbc;

    --color-error:red;
  }


/* Dashboard */

.video-thumb {
    overflow: hidden;
}

.video-thumb img {
    margin: -10% 0;
}



/* Image effect */
.shine div {
	position: relative;
}
.shine div::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.shine div:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

/*Icon effects*/
i.jaz-btn-icon {
    font-size: 1rem;
    color: white;
    position: relative;
    border-radius: 50%;
    padding: 7px 8px;
    margin: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}

i.jaz-btn-icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border: solid 1px;
    /* transform: scale(0.9); */
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    transition: all 0.3s ease;
}

i.jaz-btn-icon:hover:after {
    transform: scale(1);
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
}

i.jaz-btn-icon.btn-edit {
    background-color: var(--color-edit);
}

i.jaz-btn-icon.btn-edit:hover{
    color: var(--color-edit);
}

i.jaz-btn-icon.btn-edit:after {
    border-color:  var(--color-edit);
}

i.jaz-btn-icon.btn-delete {
    background-color: var(--color-delete);
}

i.jaz-btn-icon.btn-delete:hover {
    color: var(--color-delete);
}

i.jaz-btn-icon.btn-delete:after {
    border-color: var(--color-delete);
}

i.jaz-btn-icon.btn-cancel {
    background-color: var(--color-cancel);
}

i.jaz-btn-icon.btn-cancel:hover {
    color: var(--color-cancel)
}

i.jaz-btn-icon.btn-cancel:after {
    border-color: var(--color-cancel);
}
i.jaz-btn-icon.btn-ok {
    background-color: var(--color-confirm);
}

i.jaz-btn-icon.btn-ok:hover {
    color: var(--color-confirm);
}

i.jaz-btn-icon.btn-ok:after {
    border-color: var(--color-confirm);
}

i.jaz-btn-icon.btn-play {
    background-color: var(--color-play);
}

i.jaz-btn-icon.btn-play:hover {
    color: var(--color-play);
}

i.jaz-btn-icon.btn-play:after {
    border-color: var(--color-play);
}


i.jaz-btn-icon:hover {
    background-color: transparent;
    transform: rotate(90deg);
    cursor: pointer;
    box-shadow: none;
}

/*Video Page*/

/*Notes*/
.note {
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 0 5px 1px rgb(0 0 0 / 25%);
}
.note input,
.note textarea {
    border-radius: 5px;
}

.note input[disabled],
.note textarea[disabled] {
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

input.has-error::placeholder {
    color: var(--color-error);
}

.accordion-button:not(.collapsed) {
    background-color: rgba(255, 255, 255, 0);
}

/* Dark Theme */
body.text-bg-dark .note input[disabled],
body.text-bg-dark .note textarea[disabled] {
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

body.text-bg-dark .note input,
body.text-bg-dark .note textarea {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}